@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: orange;
  --secondery-color: #ffffff;
  --footer-color: #01acfd;
  --third-color: #05d4df;
  --fourth-color: #5d58ef;
  --fifth-color: #95b226;
}

body {
  font-family: "Quicksand", serif;
  background: url(./assets/bg.png);
}

/* short class  */
.text-gray {
  color: rgb(85, 83, 83);
}
.text-light-gray {
  color: rgb(113, 112, 112);
}
.text-center {
  text-align: center;
}
.btn {
  padding: 10px 60px;
  color: var(--secondery-color);
  border: none;
  border-radius: 12px;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: end;
}
.justify-between {
  justify-content: space-between;
}
.justify-evenly {
  justify-content: space-evenly;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: start;
}
/* shared styles  */
.navbar,
.hero,
.curriculum,
.our-container {
  margin: 0 auto;
}

/* header styles  */
.navbar {
  max-width: 1160px;
  margin: 20px auto;
}
.logo h2 {
  font-size: 2rem;
  margin-left: 11px;
}

.nav-list ul {
  list-style: none;
  gap: 32px;
}
.nav-item a {
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
}
.nav-item .nav-item1 {
  color: var(--primary-color);
}
.nav-item .nav-item2 {
  color: var(--footer-color);
}
.nav-item .nav-item3 {
  color: var(--third-color);
}
.nav-item .nav-item4 {
  color: var(--fourth-color);
}
.navbar .btn {
  font-size: 1.25rem;
  background-color: var(--primary-color);
}

.menu {
  font-size: 2rem;
  padding: 20px;
  display: none;
}
.hero {
  max-width: 1160px;
}
.hero-content {
  max-width: 640px;
  gap: 24px;
}
.hero-content h1 {
  font-size: 3.5rem;
}
.hero-content h1 .first {
  color: var(--primary-color);
}
.hero-content h1 .last {
  color: var(--footer-color);
}
.hero-content p {
  font-size: 1.25rem;
}
.hero .btn {
  color: var(--secondery-color);
  background-color: black;
  font-size: 1.25rem;
}

/* main section styles  */
.curriculum {
  max-width: 1440px;
  gap: 80px;
}
.curriculum .heading {
  font-size: 2.87rem;
  margin-top: 60px;
}

.curriculum .content .content-cards {
  max-width: 1160px;
  gap: 28px;
}
.content-cards .card {
  max-width: 367px;
  height: 467px;
  gap: 33px;
  border-radius: 18px;
}
.content-cards .card:hover{
  box-shadow: 1px 2px 10px;
  transition: .6s;
}
.card h4 {
  font-size: 1.56rem;
}
.card p {
  font-weight: 500;
  line-height: 28px;
}
.card span {
  font-weight: bold;
  cursor: pointer;
  transition: scale .3s;
}
.card span:hover{
  scale: .9;
  text-decoration: 2px underline;
}
.card1 {
  box-shadow: 1px 1px 15px rgb(200, 230, 243);
  background: linear-gradient(rgb(210, 234, 244), white);
}
.card2 {
  box-shadow: 1px 1px 15px rgb(237, 220, 188);
  background: linear-gradient(rgb(249, 231, 204), white);
}
.card3 {
  box-shadow: 1px 1px 15px rgb(216, 193, 245);
  background: linear-gradient(rgb(217, 195, 246), white);
}
.card1 span {
  color: var(--third-color);
}
.card2 span {
  color: var(--primary-color);
}
.card3 span {
  color: var(--fourth-color);
}

.arrow-icon {
  gap: 10px;
  margin-bottom: 60px;
}
.arrow-icon .left,
.arrow-icon .right {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}
.left:hover,
.right:hover{
  cursor: pointer;
}
.right:hover i{
  transform: translate(7px);
  transition: all .4s;
}
.left:hover i{
  transform: translate(-7px);
  transition: all .4s;
}

.arrow-icon i {
  font-size: 1.5rem;
  color: var(--secondery-color);
}
/* stories section styles  */
.our-stories {
  max-width: 100vw;
  background: linear-gradient(white, rgba(254, 161, 1, 0.3));
}
.our-container {
  max-width: 1160px;
  margin-top: 20px;
  gap: 80px;
}
.our-stories .heading {
  font-size: 2.87rem;
}
.stories-container {
  gap: 18px;
}
.single-img {
  max-width: 540px;
  background-color: var(--secondery-color);
  border-radius: 16px;
  gap: 53px;
  position: relative;
}
.single-img:hover,
.square-img .img:hover{
  box-shadow: 1px 2px 10px;
  transition: .3s;
}
.single-img img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.single-img .text {
  max-width: 460px;
}
.single-img .text .title {
  margin-bottom: 50px;
}
.single-img .title {
  font-size: 1.5rem;
  font-weight: bold;
}
.single-img p {
  line-height: 28px;
  font-weight: 500;
  margin-bottom: 45px;
}
.single-img .center-btn {
  position: absolute;
  left: 2.37rem;
  top: 19.5rem;
  background-color: var(--third-color);
}
.square-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 19px;
  justify-content: center;
}
.square-img .img {
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.square-img .img img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.square-img .img .title {
  max-width: 200px;
  font-weight: bolder;
  line-height: 28px;
  margin-bottom: 20px;
}
.center-btn {
  padding: 15px 19px;
  border-radius: 47px;
  border: none;
  color: var(--secondery-color);
  position: absolute;
  top: 10rem;
  left: 40px;
}
#btn1 {
  background-color: var(--fifth-color);
}
#btn2 {
  background-color: var(--fourth-color);
}
#btn3 {
  background-color: var(--primary-color);
}
#btn4 {
  background-color: var(--footer-color);
}
.our-stories .btn {
  background-color: black;
  margin-bottom: 60px;
  font-size: 20px;
  font-weight: bold;
}
/* footer styles  */
.footer {
  width: 100%;
  height: 519px;
  background-color: var(--footer-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-content {
  max-width: 1070px;
  margin: 0 auto;
  color: var(--secondery-color);
  gap: 143px;
}
.footer-content .kids {
  max-width: 400px;
  gap: 35px;
}
.kids-logo {
  gap: 10px;
}
.kids-logo p {
  font-size: 2.6rem;
  font-weight: bold;
}
.kids-desc {
  font-size: 1.25rem;
}
.footer .about {
  gap: 32px;
}
.footer .about h4 {
  font-size: 1.6rem;
}
.footer .about ul {
  gap: 20px;
  list-style: none;
}
.about ul li a:hover{
  text-decoration: 2px underline;
  transition: .3s;
}
.footer .about ul a {
  text-decoration: none;
  color: var(--secondery-color);
  font-size: 1.25rem;
  font-weight: 500;
}
.footer .social {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.footer .social h5 {
  font-size: 1.62rem;
}
.footer .social .social-icon {
  display: flex;
  gap: 10px;
}
.social-icon img:hover{
  border-radius: 50%;
  cursor: pointer;
  transform: rotate(360deg);
  scale: .95;
  transition: all .3s;
}
marquee{
  font-size: 1.5rem;
  font-weight: 600;
  color: yellow;
  background-color: rgb(147, 145, 145);
  border-radius: 5px;
  padding: px 0px;
}

.btn:hover{
  cursor: pointer;
  scale: .9;
  box-shadow: 2px 2px 30px rgb(6, 230, 28);
  transition: all .3s;
}


@media screen and (max-width: 576px) {
  .nav-list,
  .logo h2,
  .navbar button {
    display: none;
  }
  .btn {
    padding: 15px 24px;
  }
  .hero {
    flex-direction: column-reverse;
  }
  .hero-content {
    align-items: center;
  }
  .hero-content h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
  }
  .hero-content .desc {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
  }
  .hero-img img {
    width: 336px;
  }
  .logo img {
    padding: 20px;
  }
  .menu {
    display: block;
  }
  .content-cards {
    flex-direction: column;
  }
  .curriculum {
    gap: 20px;
  }
  .curriculum .heading {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .content-cards .card {
    gap: 22px;
  }
  .arrow-icon {
    display: none;
  }
  .single-img {
    display: none;
  }
  .square-img .img img {
    width: 173px;
  }
  .square-img .img .title {
    font-size: 9px;
    width: 113px;
    line-height: 17px;
    margin-top: 19px;
    margin-bottom: 5px;
  }
  .center-btn {
    font-size: 9px;
    padding: 7px 6px;
    top: 95px;
    left: 18px;
  }
  .footer {
    height: 642px;
  }
  .footer-content {
    flex-direction: column;
    gap: 22px;
    padding-left: 20px;
  }
  marquee{
    width: 80%;
    font-size: 18px;
    margin-top: 40px;
    border-radius:5px;
  }
}
